
.selector-for-some-widget {
    box-sizing: content-box;
  }
  .text1{
      color:dodgerblue;
      font-size: 100px ;
      font-weight:bold;
      margin-right: -0.24px;

  }
  .text2{
      font-size: 30px;
  }
  @media only screen and (max-width: 767px) {

    h1 {
       font-size: 3em;
    }
 
    h2 {
       font-size: 2em;
    }
 
 
 
 }
  navbar
  {
   position: fixed;
  }
  .bg-light {
      background-color: #000 !important;
  }
  .navbar-brand
  {
      font-size: 27px;
      font-family: "Tahoma";
  }
  .navbar-brand #s1
  {
      color: red;
      font-size:35px;
      padding-left: 2.5px; 
  }
  .navbar-brand img
  {
      margin-bottom: 10px;
  }
  .nav-link
  {
      color: #000 ;
      font-size: 15px;
      font-weight: bold;
  
  }
  .nav-item
  {
      list-style: none;
      text-align: center;
       padding: 17px;
  }
  .nav-link.active, .nav-link:hover
  {
      color:#4981b3;
  }
  nav
  {
       box-shadow: 0 .5rem .5rem rgba(0,0,0,.1)
  }
  

  
  .carousel-caption
  {
    margin-bottom: 75px;
    margin-left: 70px;
   text-align: center;
   position: relative;
   font-family: "Times New Roman";
  
  }
  .text{
      position: absolute;
      font-size: 55px;
  }
  .bg-custom
  {
      background-color: rgba(0,0,0,.5);
      color:white;
      border-radius: 15px;
  }
  
  .carousel-caption h1
  {
      font-size:33px;
      font-family: "Times New Roman";
  }
  .carousel-caption p
  {
      font-size: 25px;
  }
  .container1 
  {
     margin: 28px -135px 76px 136px;
     
  }
  .container2
  {
    margin: 28px -135px 76px 136px;  
  }
  
  .header
  {
      text-align: center;
      margin: 48px;
      text-transform:  capitalize;
      font-family: paddana;
      margin-top: 49px;
      margin-bottom: -24px;
  }
  
  .card1, .card2 , .card3
  {
      margin: 95px;
      
      
  }
  
  .card1 img , .card2 img , .card3 img 
  {
     
      transition: all 1.5s ease;
       
  }
  /* .card1 :hover , .card2 :hover , .card3 :hover
  {
   transform: scale(1.1);
  }
   */


.carousel-caption
{
  margin-bottom: 75px;
  margin-left: 70px;
 text-align: center;
 font-family: "Times New Roman";

}
.bg-custom
{
    background-color: rgba(0,0,0,.5);
    color:white;
    border-radius: 15px;
}

.carousel-caption h1
{
    font-size:33px;
    font-family: "Times New Roman";
}
.carousel-caption p
{
    font-size: 25px;
}
.container1 
{
   margin: 28px -135px 76px 136px;
   
}
.container2
{
  margin: 28px -135px 76px 136px;  
}

.header
{
    text-align: center;
    margin: 48px;
    text-transform:  capitalize;
    font-family: paddana;
    margin-top: 49px;
    margin-bottom: -24px;
}

.car .carouselslide .carousel-inner .carousel-item .text{
    color:white; font-size:50px; position:absolute; top:40% ; right:50%; transform:translate(-50%,-50%);
    margin-right:50px;
    margin-top: 5px ;
}


#slider{

 margin-top: 5px;
 height: 100vh;
}

.container{
    margin-top: 2%;
  font-family: sans-serif;
    


}
h1{
   
    margin-bottom: 20px;
}

.border{
    display: block;
    margin: auto;
    width:600px;
margin-top: 30px;
    height: 4px;
    background-color: #E0EBFF;
 
}
.span{
    text-align: center;
    color:  #aaaaa1;
     margin: 50px;
     font-family: sans-serif;
   
   
}


/* .inner{
    overflow: hidden;
} */

/* .inner img{
    transition: all 1.5s ease;
    
}
.inner:hover img{
    transform: scale(1.5);
} */

.card-text{
    color:  #aaaaa1;
}

a:link {
  color: red;
  font-family: sans-serif;
}



/* selected link */
a:active {
  color: blue;
}


